<%= hidden_field_tag :direction, params[:direction]%>
<%= hidden_field_tag :sort, params[:sort]%>
<table class="table table-striped">
    <tr>
      <th><%=sortable "cedula"%></th>
      <th><%=sortable "nombres" %></th>
      <th><%=sortable  "direccion" %></th>
      <th><%=sortable  "telefono" %></th>
      <th>Acciones</th>
    </tr>
    <% @clientes.each do |cliente| %>
    <tr>
      <td><%= cliente.cedula %></td>
      <td><%= cliente.nombres %></td>
      <td><%= cliente.direccion %></td>
      <td><%= cliente.telefono %></td>
      <td><%= link_to "Mostrar",  {:action => "show", :id => cliente}, :class => 'btn btn-mini btn-info' %> | <%= link_to "Editar", edit_cliente_path(cliente),:class => 'btn btn-mini' %> | 
<%= link_to "Borrar", cliente, :confirm => "Estas seguro?", :method => :delete, :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @clientes%>