<%= form_for @cliente do |f| %>
	<% if @cliente.errors.any? %>
		<h2>Errores:</h2>	
		<ul>
			<% @cliente.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
<br>
	<%= f.label :cedula %>
	<%= f.text_field :cedula, :required => true%>
	<br />
	<%= f.label :nombres %>
	<%= f.text_field :nombres, :required => true  %>
	<br />
	<%= f.label :direccion %>
	<%= f.text_field :direccion, :required => true  %>
	<br />
	<%= f.label :telefono %>
	<%= f.telephone_field :telefono, :required => true  %>
<p>
	<%if @cliente.new_record?%>
		<%= f.submit "Crear Cliente", :class => "btn btn-success" %>
	<%else%>
		<%= f.submit "Actualizar Cliente", :class => "btn btn-success" %>
	<%end%>
</p>
<% end %>