<h1>Clientes</h1>
<h2>Listado clientes</h2>

<%= form_tag clientes_path, :method => 'get', :id => "clientes_search", :remote => true do%>
  <p>
  <%= text_field_tag :search, params[:search], :placeholder => "Buscar por nombre"%>
   </p>
   <div id="clientes"><%= render 'clientes' %></div>
<%end%>
<p><%= link_to "Agregar nuevo cliente", new_cliente_path,:class => 'btn btn-primary'  %></p> 