<h1>Clientes</h1>
<h2>Mostrar cliente</h2>

<div class="info_title">Cédula:</div>
	<div class="info_content"><%=@cliente.cedula%></div>
<div class="info_title">Nombres:</div>
	<div class="info_content"><%=@cliente.nombres%></div>
<div class="info_title">Dirección:</div>
	<div class="info_content"><%=@cliente.direccion%></div>
<div class="info_title">Teléfono:</div>
	<div class="info_content"><%=@cliente.telefono%></div>


<%= link_to "Regresar a la lista", { :controller => :clientes}, :class => "btn btn-inverse"%>

