<h1>Facturas</h1>
<h2>Listado facturas</h2>

<p>El día de hoy se ha vendido <%=@valor.to_s%></p>

<table class="table table-striped">
    <tr>
      <th>Número</th>
      <th>Cliente</th>
      <th>Fecha</th>
      <th>Valor</th>
      <th>Detalle</th>
    </tr>
    <% @facturas.each do |factura| %>
    <tr>
      <td><%= factura.numero %></td>
      <td><%= factura.cliente.nombres %></td>
      <td><%= factura.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= factura.total %></td>
      <td><%= link_to "Mostrar", {:action => "show", :id => factura} , :class => 'btn btn-mini btn-info'%></td>
    </tr>
    <% end %>
  </table>