<h1>Nueva Factura</h1>
 
<%= nested_form_for @factura do |f| %>
	<% if @factura.errors.any? %>
		<h2>Errores:</h2>	
		<ul>
			<% @factura.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>

	<div class = "contenedor_factura">
		<%= f.label :numero %><br />
		<%= f.text_field :numero, :readonly => true %><br />
		<%= f.label :fecha %><br />
		<%= f.date_select :created_at %><br />
	</div>
	<br>
	<div class = "contenedor_cliente">
		<%= f.fields_for :cliente do |builder| %>
	   		<%= builder.label :cedula, "Cédula" %>
	  		<%= builder.text_field :cedula %>
	  		<%= builder.label :nombres, "Nombres" %>
	  		<%= builder.text_field :nombres %>
			<%= builder.label :direccion, "Dirección" %><br />
	  		<%= builder.text_field :direccion %>
	    	<%= builder.label :telefono, "Teléfono" %><br />
	    	<%= builder.text_field :telefono %>
	    	<%= builder.hidden_field :id%>
  		<% end %>
	</div> 
	<br>
	<div class = "contenedor_productos">
		<div class="item">
			<%= f.fields_for :itemfacturas do |b| %>
      	  		<%= render 'itemfacturas/itemfacturas', f: b %>
     		<% end -%>
        	<%= f.link_to_add "Agregar item", :itemfacturas %>
    	</div>
	</div>
	
<div class= "valores">
	<%= f.label :subtotal %><br />
	<%= f.text_field :subtotal, :readonly => true %>
	<br />
	<%= f.label :iva %><br />
	<%= f.text_field :iva, :readonly => true %>
	<br />
	<%= f.label :total %><br />
	<%= f.text_field :total, :readonly => true %>
</div>


<br>
	<%= f.submit "Agregar Nueva Factura" %>

<% end %>


