<h1>Factura</h1>
<h2>Detalle Factura</h2>

<div class="info_title">Número:</div>
	<div class="info_content"><%=@factura.numero%></div>
<div class="info_title">Cliente:</div>
	<div class="info_content">
		<b>Cédula: </b><%=@factura.cliente.cedula%></br>
		<b>Nombres: </b><%=@factura.cliente.nombres%></br>
		<b>Dirección: </b><%=@factura.cliente.direccion%></br>
		<b>Teléfono: </b><%=@factura.cliente.telefono%></br>
	</div>

<div class="info_title">Fecha:</div>
	<div class="info_content"><%=@factura.created_at.strftime("%Y-%m-%d")%></div>
<div class="info_title">Detalle:</div>
	
	<div class="info_content">
	<% @factura.itemfacturas.each do |item| %>
		<div class="info_title">Item:</div>
		<div class="info_content">
		<p>Cantidad: <%=item.cantidad%></p>
		<p>Descripción: <%=item.producto.descripcion%></p>
		<p>Valor Unitario: <%=item.precio_unitario%></p>
		<p>Valor Total: <%=item.valortotal%></p>
		</div>
	 <%end%>
	</div>
<div class="info_title">Subtotal:</div>
	<div class="info_content"><%=@factura.subtotal%></div>
<div class="info_title">I.V.A.:</div>
	<div class="info_content"><%=@factura.iva%></div>
<div class="info_title">Total:</div>
	<div class="info_content"><%=@factura.total%></div>
<br>
<br>
<br>
<br>
<div class="firmas">

<span class="firmaautorizada">Firma Autorizada</span>
<span class="firmacliente">Firma Cliente</span>
</div>
<br>
<br>
<br>
	<div>
<%= link_to "Regresar a la lista", {:controller => :facturas}, :class => "btn btn-inverse" %>
</div>

