<%= form_for(@proveedor) do |f| %>
  <% if @proveedor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proveedor.errors.count, "error") %> prohibited this proveedor from being saved:</h2>

      <ul>
      <% @proveedor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :cedula %>
    <%= f.text_field :cedula, :required => true %>
  </div>
  <div class="field">
    <%= f.label :nombres %>
    <%= f.text_field :nombres, :required => true %>
  </div>
  <div class="field">
    <%= f.label :direccion %>
    <%= f.text_field :direccion, :required => true %>
  </div>
  <div class="field">
    <%= f.label :telefono %>
    <%= f.text_field :telefono, :required => true %>
  </div>
  <div class="actions">
<%if @proveedor.new_record?%>
    <%= f.submit "Crear Proveedor", :class => "btn btn-success" %>
  <%else%>
    <%= f.submit "Actualizar Proveedor", :class => "btn btn-success" %>
  <%end%>  </div>
<% end %>
