<h1>Proveedores</h1>
<h2>Listado proveedores</h2>


<table class="table table-striped">
  <tr>
    <th>Cedula</th>
    <th>Nombres</th>
    <th>Direccion</th>
    <th>Telefono</th>
    <th>Acciones</th>
  </tr>

<% @proveedors.each do |proveedor| %>
  <tr>
    <td><%= proveedor.cedula %></td>
    <td><%= proveedor.nombres %></td>
    <td><%= proveedor.direccion %></td>
    <td><%= proveedor.telefono %></td>
<td><%= link_to "Mostrar",  {:action => "show", :id => proveedor}, :class => 'btn btn-mini btn-info' %> | <%= link_to "Editar", edit_proveedor_path(proveedor),:class => 'btn btn-mini' %> | 
<%= link_to "Borrar", proveedor, :confirm => "Estas seguro?", :method => :delete, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />
<p><%= link_to "Agregar nuevo proveedor", new_proveedor_path,:class => 'btn btn-primary'  %></p> 
