<h1>Proveedores</h1>
<h2>Mostrar proveedor</h2>

<div class="info_title">Cédula:</div>
	<div class="info_content"><%=@proveedor.cedula%></div>
<div class="info_title">Nombres:</div>
	<div class="info_content"><%=@proveedor.nombres%></div>
<div class="info_title">Dirección:</div>
	<div class="info_content"><%=@proveedor.direccion%></div>
<div class="info_title">Teléfono:</div>
	<div class="info_content"><%=@proveedor.telefono%></div>
<div class="info_title">Productos:</div>
	<% @proveedor.productos.each do |producto| %>
	<div class="info_content"><%=producto.descripcion%></div>
	<%end%>
<%= link_to "Regresar a la lista", { :controller => :proveedors}, :class => "btn btn-inverse"%>

