<%= form_for @producto do |f| %>
	<% if @producto.errors.any? %>
		<h2>Errores:</h2>	
		<ul>
			<% @producto.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
<br>
	<%= f.label :descripcion, "Descripción" %>
	<%= f.text_area :descripcion, :size => "2x3", :required => true %><br />
<br />
	<%= f.label :stock, "Stock" %>
	<%= f.number_field :stock , :min => 0, :required => true %>
	<br />
	<%= f.label :precio, "Precio" %>
	<%= f.number_field :precio, :step => "any", :required => true%>
	<br />
	<%= f.label :tipo, "Tipo de producto" %>
	<%= f.text_field :tipo, :step => "any", :required => true%>
	<br />
	<%= f.label :proveedor_producto, "Proveedor" %>
	<%= f.text_field :proveedor_producto, :step => "any", :required => true%>
	<%= f.hidden_field :proveedor_id, :step => "any", :required => true%>
	<br />
	<%= f.label :fecha_caducidad, "Fecha de Caducidad" %>
	<%= f.date_select :fecha_caducidad, :step => "any", :required => true%>

<p>
	<%if @producto.new_record?%>
		<%= f.submit "Crear Producto", :class => "btn btn-success" %>
	<%else%>
		<%= f.submit "Actualizar Producto", :class => "btn btn-success" %>
	<%end%>
</p>
<% end %>