<%= hidden_field_tag :direction, params[:direction]%>
<%= hidden_field_tag :sort, params[:sort]%>
<table class="table table-striped">
    <tr>
      <th><%=sortable "id", "Código"%></th>
      <th><%=sortable "descripcion" %></th>
      <th><%=sortable  "stock" %></th>
      <th><%=sortable  "precio" %></th>
      <th><%=sortable  "tipo" %></th>
      <th><%=sortable  "proveedor" %></th>
      <th><%=sortable "fecha_caducidad"%></th>      
      <th>Acciones</th>
    </tr>
    <% @productos.each do |producto| %>
    <tr>
      <td><%= producto.id %></td>
      <td><%= producto.descripcion %></td>
      <td><%= producto.stock %></td>
      <td><%= producto.precio %></td>
      <td><%= producto.tipo %></td>
      <td><%= producto.proveedor.nombres if not producto.proveedor.blank? %></td>
      <td><%= producto.fecha_caducidad.strftime("%Y-%m-%d") if producto.fecha_caducidad? %></td>
      <td><%= link_to "Mostrar", {:action => "show", :id => producto} , :class => 'btn btn-mini btn-info'%> | <%= link_to "Editar", edit_producto_path(producto),:class => 'btn btn-mini' %> | 
<%= link_to "Borrar", producto, :confirm => "Estas seguro?", :method => :delete , :class => 'btn btn-mini btn-danger'%></td>
    </tr>
    <% end %>
  </table>
  <%= will_paginate @productos%>