<h1> Productos </h1>
<h2>Listado productos</h2>

<%= form_tag productos_path, :method => 'get', :id => "products_search", :remote => true do%>
  <p>
  <%= text_field_tag :search, params[:search], :placeholder => "Buscar por descripción"%>
   </p>
   <div id="productos"><%= render 'productos' %></div>
<%end%>
<p><%= link_to "Agregar nuevo producto", new_producto_path,:class => 'btn btn-primary' %></p> 