<h1>Productos</h1>
<h2>Mostrar producto</h2>

<div class="info_title">Descripción:</div>
	<div class="info_content"><%=@producto.descripcion%></div>
<div class="info_title">Stock:</div>
	<div class="info_content"><%=@producto.stock%></div>
<div class="info_title">Precio:</div>
	<div class="info_content"><%=@producto.precio%></div>

<%= link_to "Regresar a la lista", { :controller => :productos}, :class => "btn btn-inverse"%>

