	<%= f.number_field :cantidad, :min => 0, :value => 1 ,:class => "cantidad" %>
	<%= f.text_field :descripcion, :class => "desc_autocomplete", :placeholder => "descripcion" %>
	<%= f.text_field :precio_unitario, :class => "valorunitario", :placeholder => "valor unitario", :readonly => true %>
	<%= f.text_field :valortotal, :class => "valortotal", :placeholder => "valor total", :readonly => true %>
	<%= f.hidden_field :producto_id, :class => "producto_id"%>
	<%= f.link_to_remove "Eliminar" %>
