<div class="fields">
	<%= f.number_field :cantidad, :min => 0, :value => 1 %>
	<%= f.text_field :descripcion, :class => "desc_autocomplete" %>
	<%= f.text_field :vu %>
	<%= f.text_field :vt %>
	<%= f.hidden_field :producto_id%>
	<%= f.link_to_remove "Eliminar" %>
</div>
