/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery-ui.css
 *= require_tree ../../../vendor/assets/stylesheets/
 *= require_tree .
 */
.has_container {
  border-radius: 0.3em;
  border: 1px solid #dddddd;
  display: inline-block;
  padding: 1em;
  box-shadow: 0 1px 3px #cccccc;
  vertical-align: middle;
  margin: 0 0.5em 1em 0;
}
 .pretty th .current{
 	padding-right: 12px;
 	background-repeat: no-repeat;
 	background-position: right center;
 }

 .pretty th .asc{
 	background-image: url(/images/up_arrow.gif);
 }

 .pretty th .desc{
 	background-image: url(/images/down_arrow.gif);
 }
 .contenedor_cliente , .contenedor_factura{
 	border-radius: 0.3em;
  	border: 1px solid #dddddd;
  	box-shadow: 0 1px 3px #cccccc;
   	
 }

 .item{
 	display: inline;
 }

 .valores{
 	position: relative;
 	text-align: right;

 }

 .flash {
    text-align: center;
    padding:	.3em .4em;
    margin:		0 auto .5em;
    clear:		both;
    max-width:	46.923em; /* 610/13 */  
    *max-width:	45.750em; /* 610/13.3333 - for IE */
}

.flash.error {
    border: thin solid #8b0000;
    background: #ffc0cb;
}

.flash.notice, .flash.info {
    border: thin solid #ff0;
    background: #ffe;
}

.flash.warning {
    border: thin solid #b8860b;
    background: #ff0;
}

.flash .close {
    float:	right;
}

.flash .close a {
    color:				#f00;
    text-decoration:	none;
}

.firmaautorizada, .firmacliente{
  font-weight: bold;
}
.firmacliente{
  float: right;
}
